<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers List</title>
</head>
<body>

    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/header.ejs')%>

        <div class="shop"><h1> SHOP </h1> </div>
        <div class="lineup">
       <div class="container">     
        <ul class="Flowers-list">
            <% flowers.forEach(b => { %>
            <li>
                <div class="flower-name">
                <a href="/flowers/<%= b._id %>">
                    <%= b.name %> 
                    
                </a> 
            </div>
                <br>
                <a href="/flowers/<%= b._id%>">
                    <img src="<%=b.image%>" alt="">
                </a>
                <br>
                <a href="/flowers/<%= b._id %>">
                    <%= b.qty %> 
                    
                </a>
                <br>
                    Price:$ <%= b.price %>
            </li> 
        <% }); %>
        </ul>
    </div>
</div>
        <a href="/flowers/new">Add New Flower</a>


     
</body>
</html>